.friendsSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.list {
  display: block;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}
.item {
  display: flex;
  height: 60px;
  width: 250px;
  border: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(27, 25, 25, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.avatar {
  margin-right: 20px;
}
.status {
  font-size: 120px;
  line-height: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.name {
  font-size: 20px;
  line-height: 0.5;
  font-weight: 600;
}
